.modal-background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	padding-top: 90px;
	display: none;
}
.modal{
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: auto;
  max-width: 400px;
}

form.modal-form{
	background-color: white;
	border: 1px solid silver;
	border-radius: 7px;
	width: auto;
	height: auto;
	padding: 30px;
	position: relative;
}

.close-modal{
	position: absolute;
	top: 5px;
	right: 15px;
	margin: 10px;
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
}