li.exercise{
	background-color: white;
	border-radius: 3px 3px 0 0;
	padding: 30px 15px;
	min-width: 280px;
	margin: 20px;
	border: 1px solid silver;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 4px solid red;
	cursor: pointer;
	color: #f22613;
}

li.exercise:hover{
	border-bottom: 4px solid #3a539b;
	color: #3a539b;
}

li.exercise div{
	display: flex;
	flex-direction: column;
}

li.exercise h3{
	font-size: 2em;
	text-transform: capitalize;
	color: 	#2b2c2d;
	margin: 0 0 -10px 0;
}

li.exercise p{
	margin-bottom: 0;
	font-weight: bold;
}

@media only screen and (max-width: 800px) {
  li.exercise{
  	width: 90%;
  }
}