.workout-details{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.weekly-schedule table{
	text-align: center;
	border-spacing: 0 2px;
}

.weekly-schedule th.table-panel{
	border-radius: 15px 0 0 15px;
	background-color: silver;
	font-size: 1em;
	color: #2b2c2d;
}
.weekly-schedule th.table-panel div{
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weekly-schedule th.table-panel div p{
	margin: 0;
}

.weekly-schedule th{
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 30px;
	border-radius: 15px 0 0 15px;
}
.weekly-schedule td{
	padding: 15px 40px;
	background-color: #2b2c2d;
	color: white;
	font-weight: bold;
}

.notes li{
	background-color: white;
	border: 1px solid silver;
	border-radius: 3px;
	padding: 20px;
	margin: 20px;
	color: #2b2c2d;
	font-weight: bold;
}

.notes li .notes-buttons{
	display: flex;
	justify-content: flex-end;
}

.notes li button{
	margin: 3px;
}